@{
    ViewData["Title"] = "Form page";
}



@model DataModel

<h1 class="display-4">Wypełnij formularz zgłoszeniowy.</h1>


    <form asp-action="Form" method="post" name="clear">
        <div>
            <label asp-for="Imie">Imię (wymagane, minimum 2 znaki)</label><br />
            <input asp-for="Imie" /><br />
            <span asp-validation-for="Imie" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="Nazwisko">Nazwisko (wymagane, minimum 2 znaki)</label><br />
            <input asp-for="Nazwisko" /><br />
            <span asp-validation-for="Nazwisko" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="Email">Adres e-mail (wymagane, poprawny adres e-mail)</label><br />
            <input asp-for="Email" /><br />
            <span asp-validation-for="Email" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="Haslo">Hasło (wymagane, minimum 8 znaków, co najmniej jedna cyfra, jedna duża litera i jedna mała litera)</label><br />
            <input asp-for="Haslo" type="password" /><br />
            <span asp-validation-for="Haslo" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="PotwierdzenieHasla">Potwierdzenie hasła (wymagane, musi być takie samo jak pole hasło)</label><br />
            <input asp-for="PotwierdzenieHasla" type="password" /><br />
            <span asp-validation-for="PotwierdzenieHasla" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="NrTelefonu">Nr telefonu (odpowiedni typ)</label><br />
            <input asp-for="NrTelefonu" /><br />
            <span asp-validation-for="NrTelefonu" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="Wiek">Wiek (powyżej 10 lat do 80 lat)</label><br />
            <input asp-for="Wiek" type="number" /><br />
            <span asp-validation-for="Wiek" class="text-danger"></span><br />
        </div>
        <div>
            <label asp-for="Miasto">Miasto (wybór z 5 propozycji)</label><br />
            <select asp-for="Miasto"><br />
            <option value="Kraków">Kraków</option>
            <option value="Warszawa">Warszawa</option>
            <option value="Wrocław">Wrocław</option>
            <option value="Poznań">Poznań</option>
            <option value="Katowice">Katowice</option>
            </select><br />
            <span asp-validation-for="Miasto" class="text-danger"></span><br />
        </div>
        <input type="submit" value="Wyślij" />
    <input type="button" value="Wyczyść" onclick="clearForm()" />
    </form>
<script>
    function clearForm() {
        var form = document.querySelector('form');
        if (form) {
            form.reset();
        }
    }
</script>
