@{
    ViewData["Title"] = "Wyłano formularz";
}>
@model DataModel


<h2>Wynik twojego formularza</h2>
Zweryfikuj przesłane dane :<br />

Imie : @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email : @Model.Email
<br />
Treść zgłoszenia
</br>
<div style="width:200px; height:auto; border:solid;border-color:red;">
@Model.Tresc
</div>